server:
  port: 8001

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8901/eureka/

spring:
  application:
    name: zuul-service
  boot:
    admin:
      client:
        url: http://localhost:8084
  zipkin:
    base-url: http://localhost:9411

zuul:
  routes:
    api-account:
      path: /api/account/**
      serviceId: account-web
    api-stats:
      path: /api/stats/**
      serviceId: stats-web
    api-record:
      path: /api/record/**
      serviceId: record-web
