<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntcc.accountservice.dao.AccountAuthMapper">
  <resultMap id="BaseResultMap" type="com.ntcc.accountservice.entity.AccountAuth">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="AUTHNO" jdbcType="INTEGER" property="authno" />
    <result column="USERNO" jdbcType="INTEGER" property="userno" />
    <result column="AUTHVALUETYPE" jdbcType="INTEGER" property="authvaluetype" />
    <result column="AUTHVALUE" jdbcType="VARCHAR" property="authvalue" />
    <result column="AUTHPWD" jdbcType="VARCHAR" property="authpwd" />
    <result column="AUTHSTATUS" jdbcType="INTEGER" property="authstatus" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="CREATEIP" jdbcType="VARCHAR" property="createip" />
    <result column="LASTUPDATEDATE" jdbcType="TIMESTAMP" property="lastupdatedate" />
    <result column="LASTUPDATEIP" jdbcType="VARCHAR" property="lastupdateip" />
    <result column="LASTSIGNONDATE" jdbcType="TIMESTAMP" property="lastsignondate" />
    <result column="LASTSIGNONIP" jdbcType="VARCHAR" property="lastsignonip" />
  </resultMap>
</mapper>