server:
  port: 8901

spring:
  application:
    name: eurekaservice
  boot:
    admin:
      client:
        url: http://localhost:8084

eureka:
  instance:
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka
    register-with-eureka: false
    fetch-registry: false
