<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntcc.statsservice.dao.StatsItemMapper">
  <resultMap id="BaseResultMap" type="com.ntcc.statsservice.entity.StatsItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stats_domain" jdbcType="VARCHAR" property="statsDomain" />
    <result column="stats_value" jdbcType="BIGINT" property="statsValue" />
  </resultMap>
</mapper>