<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntcc.servicecommon.dao.LabourContractorUserMapper">
  <resultMap id="BaseResultMap" type="com.ntcc.servicecommon.entity.LabourContractorUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="UserID" jdbcType="BIGINT" property="userid" />
    <result column="LabourID" jdbcType="BIGINT" property="labourid" />
  </resultMap>
</mapper>