<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ntcc.servicecommon.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.ntcc.servicecommon.entity.Project">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="province" jdbcType="TINYINT" property="province" />
    <result column="city" jdbcType="TINYINT" property="city" />
    <result column="area" jdbcType="TINYINT" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="constructor" jdbcType="VARCHAR" property="constructor" />
    <result column="supervisor" jdbcType="VARCHAR" property="supervisor" />
    <result column="builder" jdbcType="VARCHAR" property="builder" />
    <result column="designer" jdbcType="VARCHAR" property="designer" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="finish_date" jdbcType="DATE" property="finishDate" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>